# Ignore specific text files
/Feutures.txt
/TODO.txt
/list_of_tranformations.txt
/List_of_progress.txt
/.gitignore

# Ignore common Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and dependency files
.env
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignore log and output files
*.log
*.out

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
